<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IQTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="IQChartMerge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IQTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <IQTools.Properties.Settings>
            <setting name="IQChartConnString" serializeAs="String">
                <value/>
            </setting>
            <setting name="HIVDataTablesToMerge" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dtl_CD4</string>
                        <string>dtl_sti</string>
                        <string>dtl_height</string>
                        <string>dtl_weight</string>
                        <string>dtl_oi</string>
                        <string>dtl_regimen</string>
                        <string>dtl_who</string>
                        <string>dtl_TBScreen</string>
                        <string>dtl_TBTreat</string>
                        <string>dtl_pregnancy</string>
                        <string>dtl_phyadh</string>
                        <string>dtl_meds</string>
                        <string>dtl_hosp</string>
                        <string>mst_ptn</string>
                        <string>mst_Facility</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CustomTablesToInsert" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>zz_admission</string>
                        <string>zz_agegroups</string>
                        <string>zz_exit</string>
                        <string>zz_hivstatus</string>
                        <string>zz_hosp</string>
                        <string>zz_maritial</string>
                        <string>zz_relatives</string>
                        <string>zz_sex</string>
                        <string>zz_status</string>
                        <string>zz_stopcodes</string>
                        <string>zz_tbscreen</string>
                        <string>zz_toxicity</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Autoconnect" serializeAs="String">
                <value>False</value>
            </setting>
        </IQTools.Properties.Settings>
        <IQChartMerge.Properties.Settings>
            <setting name="Autoconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=IQChartMerge;</value>
            </setting>
            <setting name="HIVDataTablesToMerge" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dtl_CD4</string>
                        <string>dtl_sti</string>
                        <string>dtl_height</string>
                        <string>dtl_weight</string>
                        <string>dtl_oi</string>
                        <string>dtl_regimen</string>
                        <string>dtl_who</string>
                        <string>dtl_TBScreen</string>
                        <string>dtl_TBTreat</string>
                        <string>dtl_pregnancy</string>
                        <string>dtl_phyadh</string>
                        <string>dtl_meds</string>
                        <string>dtl_hosp</string>
                        <string>mst_ptn</string>
                        <string>mst_Facility</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CustomTablesToInsert" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>zz_admission</string>
                        <string>zz_agegroups</string>
                        <string>zz_exit</string>
                        <string>zz_hivstatus</string>
                        <string>zz_hosp</string>
                        <string>zz_maritial</string>
                        <string>zz_relatives</string>
                        <string>zz_sex</string>
                        <string>zz_status</string>
                        <string>zz_stopcodes</string>
                        <string>zz_tbscreen</string>
                        <string>zz_toxicity</string>
                    </ArrayOfString>
                </value>
            </setting>
        </IQChartMerge.Properties.Settings>
    </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>	
  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.SqlEnum" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.ServiceBrokerEnum" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.RegSvrEnum" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ActiveDatabaseSoftware.ActiveQueryBuilder" publicKeyToken="3CBCBCC9BF57ECDE" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.17.5.374" newVersion="1.17.5.374"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" Culture="neutral" PublicKeyToken="c5687fc88969c44d"/>
        <bindingRedirect oldVersion="0.0.0.0-6.5.4.0" newVersion="6.5.4.0"/>
      </dependentAssembly>
		</assemblyBinding>
	</runtime>
    <applicationSettings>
        <IQTools.Properties.Settings>
            <setting name="IQTools_TzWebReference_IQMessaging" serializeAs="String">
                <value>http://41.73.195.220/IQWebServices/IQMessaging.asmx</value>
            </setting>
            <setting name="IQTools_RemoteWebService_Service1" serializeAs="String">
                <value>http://localhost:4944/Service1.asmx</value>
            </setting>
        </IQTools.Properties.Settings>
    </applicationSettings>
</configuration>
