USE [IQTools]
GO
/****** Object:  StoredProcedure [dbo].[pr_CreateLabMaster_IQCare]    Script Date: 6/11/2016 9:08:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Proc [dbo].[pr_CreateLabMaster_IQCare](@EMRVersion varchar(50),@FacilityName varchar(50),@PatientPK varchar(50), @VisitPK varchar(50))
AS
BEGIN
	

IF(@PatientPK = 0)
	BEGIN
		EXEC
		('IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N''tmp_Labs'') AND type in (N''U''))
		DROP TABLE tmp_Labs')
			
	
		IF @FacilityName NOT IN ('KNH CCC', 'PMH HEI Category')  
					
		Begin
Exec
('

			Select Distinct m.PatientPK, 
			labs.VisitID,
			m.FacilityID,
			labs.OrderedbyDate,
			labs.ReportedbyDate,
			labs.TestName,
			labs.TestResult,
			Case When DateDiff(dd, m.RegistrationDate, labs.ReportedbyDate) <= 60 Then 1 Else 0 End As EnrollmentTest
			, dbo.fn_GetTestCategory(c.startartdate, labs.reportedbydate) As BaselineTest
			INTO tmp_Labs    
			From 
			(
			Select distinct a.Ptn_pk, v.VisitId VisitID, a.TestName
			,  Coalesce(Cast(a.TestResults As varchar(100)), Cast(a.[Parameter Result] As
			varchar(100)), Cast(a.TestResults1 As varchar(100))) TestResult
			, a.OrderedbyDate
			, a.ReportedbyDate
			From VW_PatientLaboratory a 
			inner join ord_PatientLabOrder v on v.Ptn_Pk = a.ptn_pk  and a.LabID = v.LabID
			Where Coalesce(Cast(a.TestResults As varchar(100)), Cast(a.[Parameter Result] As
			varchar(100)), Cast(a.TestResults1 As varchar(100))) Is Not Null And
			Coalesce(Cast(a.TestResults As varchar(100)), Cast(a.[Parameter Result] As
			varchar(100)), Cast(a.TestResults1 As varchar(100))) != ''''
			) labs  
			Inner Join tmp_PatientMaster m On labs.Ptn_pk = m.PatientPK
			Left Join 
			(Select a.PatientPK, Coalesce(a.PreviousARTStartDate, ART.FirstDispense) StartARTDate 
			From tmp_PatientMaster a Inner Join 
			(Select a.PatientPK
			, Min(a.DispenseDate) FirstDispense 
			From tmp_Pharmacy a Where a.TreatmentType = ''ART''
			Group By a.PatientPK) ART on a.PatientPK = ART.PatientPK) c On m.PatientPK = c.PatientPK

')
		End
			

		Else If @FacilityName = 'KNH CCC'
																																																																																																																																																																																																																																												Begin
	Exec ('Select Distinct m.PatientPK, 
	labs.VisitID,
	m.FacilityID,

	labs.OrderedbyDate,
	labs.ReportedbyDate,
	labs.TestName,
	labs.TestResult,
  
	Case When DateDiff(dd, m.RegistrationDate, labs.ReportedbyDate) <= 60 Then 1 Else 0 End As EnrollmentTest
	, FLOOR(CASE WHEN (DATEDIFF(dd, c.startartdate, labs.reportedbydate)%180)/180.0 > 0.67 THEN ROUND(DATEDIFF(dd, c.startartdate, labs.reportedbydate)/180.0,0) WHEN (DATEDIFF(dd, c.startartdate, labs.reportedbydate)%180)/180.0 < 0.17 Then FLOOR(DATEDIFF(dd, c.startartdate, labs.reportedbydate)/180) ELSE NULL END * 6)
	As BaselineTest 
  
 
	INTO tmp_Labs
From
	(
Select distinct 
a.Ptn_pk
, v.VisitId VisitID
, a.TestName
,  Coalesce(Cast(a.TestResults As varchar(100)), Cast(a.[Parameter Result] As
varchar(100)), Cast(a.TestResults1 As varchar(100))) TestResult
, a.OrderedbyDate
, CASE WHEN a.OrderedbyDate > a.ReportedbyDate THEN a.OrderedbyDate ELSE a.ReportedbyDate END AS ReportedbyDate
From VW_PatientLaboratory a 
inner join ord_PatientLabOrder v on v.Ptn_Pk = a.ptn_pk  and a.LabID = v.LabID
Where Coalesce(Cast(a.TestResults As varchar(100)), Cast(a.[Parameter Result] As
varchar(100)), Cast(a.TestResults1 As varchar(100))) Is Not Null And
Coalesce(Cast(a.TestResults As varchar(100)), Cast(a.[Parameter Result] As
varchar(100)), Cast(a.TestResults1 As varchar(100))) != ''''
UNION
SELECT b.ptn_pk, b.visit_pk, b.TestName, b.Results, COALESCE(b.TestDate, a.VisitDate) AS TestDate, COALESCE(b.TestDate, a.VisitDate) AS TestDate 
FROM ord_visit a INNER JOIN
(SELECT ptn_pk, visit_pk, ''Cerebral Spinal Fluid'' TestName, b.NAME Results, CSFDate TestDate FROM DTL_FBCUSTOMFIELD_Adult_Follow_Up_Form a INNER JOIN mst_moddecode b ON a.CSF = b.id
UNION
SELECT ptn_pk, visit_pk, ''Cerebral Spinal Fluid'' TestName, b.Name, CSFDate FROM DTL_FBCUSTOMFIELD_Paediatric_Follow_Up_Form a INNER JOIN mst_moddecode b ON a.CSF = b.id
UNION
SELECT ptn_pk, visit_pk, ''X-Ray'' TestName, b.Name, NULL FROM DTL_FBCUSTOMFIELD_Adult_Follow_Up_Form a INNER JOIN mst_moddecode b ON a.CXR = b.id AND NAME <> ''Other''
UNION
SELECT ptn_pk, visit_pk, ''X-Ray'' TestName, b.Name, NULL FROM DTL_FBCUSTOMFIELD_Paediatric_Follow_Up_Form a INNER JOIN mst_moddecode b ON a.CXR = b.id AND NAME <> ''Other''
UNION
SELECT ptn_pk, visit_pk, ''X-Ray'' TestName, OtherCXR, NULL FROM DTL_FBCUSTOMFIELD_Adult_Follow_Up_Form WHERE OtherCXR IS NOT NULL
UNION
SELECT ptn_pk, visit_pk, ''X-Ray'' TestName, OtherCXR, NULL FROM DTL_FBCUSTOMFIELD_Paediatric_Follow_Up_Form WHERE OtherCXR IS NOT NULL
UNION
SELECT ptn_pk, visit_pk, ''Other TB Test'' TestName, OtherTBResult, OtherTBResultDate FROM DTL_FBCUSTOMFIELD_Adult_Follow_Up_Form WHERE OtherTBResult IS NOT NULL
UNION
SELECT ptn_pk, visit_pk, ''Other TB Test'' TestName, OtherTBResult, OtherTBResultDate FROM DTL_FBCUSTOMFIELD_Paediatric_Follow_Up_Form WHERE OtherTBResult IS NOT NULL
UNION
SELECT ptn_pk, visit_pk, ''Sputum Smear'' TestName, b.Name, SputumSmearDate FROM DTL_FBCUSTOMFIELD_Adult_Follow_Up_Form a INNER JOIN mst_moddecode b ON a.SputumSmear = b.id
UNION
SELECT ptn_pk, visit_pk, ''Sputum Smear'' TestName, b.Name, SputumSmearDate FROM DTL_FBCUSTOMFIELD_Paediatric_Follow_Up_Form a INNER JOIN mst_moddecode b ON a.SputumSmear = b.id
UNION
SELECT ptn_pk, visit_pk, ''Tissue Biopsy'' TestName, ''Yes'' TissueBiopsy, TissueBiopsyDate FROM DTL_FBCUSTOMFIELD_Adult_Follow_Up_Form WHERE TissueBiopsy = 1
UNION
SELECT ptn_pk, visit_pk, ''Tissue Biopsy'' TestName, ''Yes'' TissueBiopsy, TissueBiopsyDate FROM DTL_FBCUSTOMFIELD_Paediatric_Follow_Up_Form WHERE TissueBiopsy = 1
UNION
SELECT ptn_pk, visit_pk, ''Tuberculine Skin Test'' TestName, b.Name, TuberculineSkinTestDate FROM DTL_FBCUSTOMFIELD_Adult_Follow_Up_Form a INNER JOIN mst_moddecode b ON a.TuberculineSkinTest = b.id
UNION
SELECT ptn_pk, visit_pk, ''Tuberculine Skin Test'' TestName, b.Name, TuberculineSkinTestDate FROM DTL_FBCUSTOMFIELD_Paediatric_Follow_Up_Form a INNER JOIN mst_moddecode b ON a.TuberculineSkinTest = b.id
UNION
SELECT ptn_pk, visit_pk, ''Elisa HIV Test'', b.NAME, NULL FROM DTL_FBCUSTOMFIELD_PMTCT_Follow_up_Form a INNER JOIN Mst_ModDecode b ON a.Elisa = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Elisa HIV Test'', b.Name, NULL FROM DTL_FBCUSTOMFIELD_PMTCT_Initial_Evaluation_Form a INNER JOIN Mst_ModDecode b ON a.Elisa = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Determine HIV Test'', b.Name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Follow_up_Form a INNER JOIN Mst_ModDecode b ON a.Determine = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Determine HIV Test'', b.Name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Initial_Evaluation_Form a INNER JOIN Mst_ModDecode b ON a.Determine = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Determine HIV Test'', b.Name, NULL FROM [DTL_FBCUSTOMFIELD_Maternity_&_PNC_Wards_Initial_Evaluation_Form] a INNER JOIN Mst_ModDecode b ON a.Determine = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Unigold HIV Test'', b.Name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Follow_up_Form a INNER JOIN Mst_ModDecode b ON a.Unigold = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Unigold HIV Test'', b.Name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Initial_Evaluation_Form a INNER JOIN Mst_ModDecode b ON a.Unigold = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Unigold HIV Test'', b.Name, NULL FROM [DTL_FBCUSTOMFIELD_Maternity_&_PNC_Wards_Initial_Evaluation_Form] a INNER JOIN Mst_ModDecode b ON a.Unigold = b.ID
UNION
SELECT a.ptn_pk, a.visit_pk, ''Partner test HIV'', b.name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Follow_up_Form a INNER JOIN Mst_ModDecode b ON a.DeterminePartner=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''Partner test HIV'', b.name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Initial_Evaluation_Form a INNER JOIN Mst_ModDecode b ON a.DeterminePartner=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''Partner test HIV'', b.name, NULL FROM [DTL_FBCUSTOMFIELD_Maternity_&_PNC_Wards_Initial_Evaluation_Form] a INNER JOIN Mst_ModDecode b ON a.DeterminePartner=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''Partner test HIV'', b.name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Follow_up_Form a INNER JOIN Mst_ModDecode b ON a.UniGoldPartner=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''Partner test HIV'', b.name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Initial_Evaluation_Form a INNER JOIN Mst_ModDecode b ON a.UniGoldPartner=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''first PCR'', b.name, FirstPCRDate FROM DTL_FBCUSTOMFIELD_HEI_Follow_Up_Card a INNER JOIN Mst_ModDecode b ON a.FirstPCRResults=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''repeat PCR'', b.name, RepeatPCRDate FROM DTL_FBCUSTOMFIELD_HEI_Follow_Up_Card a INNER JOIN Mst_ModDecode b ON a.RepeatPCRResults=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''Partner test HIV'', b.name, NULL FROM [DTL_FBCUSTOMFIELD_Maternity_&_PNC_Wards_Initial_Evaluation_Form] a INNER JOIN Mst_ModDecode b ON a.UniGoldPartner=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''HIV Test'', b.NAME, MotherHIVTestDate FROM dtl_PatientCounseling a INNER JOIN Mst_PMTCTDeCode b ON a.MotherHIVTestResult=b.id
UNION	
SELECT a.Ptn_pk, a.Visit_pk, ''PCR'', b.NAME, NULL FROM dtl_patientCounseling a INNER JOIN Mst_ModDecode b ON a.MotherDNAPCR = b.ID
UNION
SELECT a.ptn_pk, a.visit_pk, REPLACE(REPLACE(b.NAME, ''1st DNA'', ''First''), ''1st'', ''First''), a.Results, a.ResultCollectionDate 
FROM [dbo].[DTL_CUSTOMFORM_Laboratory Information_HEI_Follow_Up_Card] a INNER JOIN dbo.mst_ModDeCode b ON a.TypeOfTest = b.ID
UNION
SELECT ptn_pk, visit_pk, ''First Antibody test'', b.name, a.FirstAntiBodyTestDate FROM DTL_FBCUSTOMFIELD_HEI_Follow_Up_Card a INNER JOIN Mst_ModDecode b ON a.FirstAntiBodyTestResult = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Final Antibody test'', b.name, a.FinalAntiBodyTestDate FROM DTL_FBCUSTOMFIELD_HEI_Follow_Up_Card a INNER JOIN Mst_ModDecode b ON a.FinalAntiBodyTestResult = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Other Test'' TestName, OtherTestSpecify, OtherTestDate FROM DTL_FBCUSTOMFIELD_KNH_CCC_Express_Form WHERE OtherTestSpecify IS NOT NULL) b
ON a.visit_id = b.Visit_pk
) Labs 
	Inner Join tmp_PatientMaster m On labs.Ptn_pk = m.PatientPK
	Left Join 
	(Select a.PatientPK, Coalesce(a.PreviousARTStartDate, ART.FirstDispense) StartARTDate 
From tmp_PatientMaster a Inner Join 
(Select a.PatientPK
, Min(a.DispenseDate) FirstDispense 
From tmp_Pharmacy a Where a.TreatmentType = ''ART''
Group By a.PatientPK) ART on a.PatientPK = ART.PatientPK) c On m.PatientPK = c.PatientPK
')
End

		Else If @FacilityName = 'PMH HEI Category'																																																																																																																																																																											Begin
	Exec ('Select Distinct m.PatientPK, 
	labs.VisitID,
	m.FacilityID,

	labs.OrderedbyDate,
	labs.ReportedbyDate,
	labs.TestName,
	labs.TestResult,
  
	Case When DateDiff(dd, m.RegistrationDate, labs.ReportedbyDate) <= 60 Then 1 Else 0 End As EnrollmentTest
	, FLOOR(CASE WHEN (DATEDIFF(dd, c.startartdate, labs.reportedbydate)%180)/180.0 > 0.67 THEN ROUND(DATEDIFF(dd, c.startartdate, labs.reportedbydate)/180.0,0) WHEN (DATEDIFF(dd, c.startartdate, labs.reportedbydate)%180)/180.0 < 0.17 Then FLOOR(DATEDIFF(dd, c.startartdate, labs.reportedbydate)/180) ELSE NULL END * 6)
	As BaselineTest 
  
 
	INTO tmp_Labs
From
	(
Select distinct 
a.Ptn_pk
, v.VisitId VisitID
, a.TestName
,  Coalesce(Cast(a.TestResults As varchar(100)), Cast(a.[Parameter Result] As
varchar(100)), Cast(a.TestResults1 As varchar(100))) TestResult
, a.OrderedbyDate
, a.ReportedbyDate
From VW_PatientLaboratory a 
inner join ord_PatientLabOrder v on v.Ptn_Pk = a.ptn_pk  and a.LabID = v.LabID
Where Coalesce(Cast(a.TestResults As varchar(100)), Cast(a.[Parameter Result] As
varchar(100)), Cast(a.TestResults1 As varchar(100))) Is Not Null And
Coalesce(Cast(a.TestResults As varchar(100)), Cast(a.[Parameter Result] As
varchar(100)), Cast(a.TestResults1 As varchar(100))) != ''''
UNION
SELECT b.ptn_pk, b.visit_pk, b.TestName, b.Results, COALESCE(b.TestDate, a.VisitDate) AS TestDate, COALESCE(b.TestDate, a.VisitDate) AS TestDate 
FROM ord_visit a INNER JOIN
(SELECT ptn_pk, visit_pk, ''Elisa HIV Test'' TestName, b.NAME Results, NULL TestDate FROM DTL_FBCUSTOMFIELD_PMTCT_Follow_up_Form a INNER JOIN Mst_ModDecode b ON a.Elisa = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Elisa HIV Test'', b.Name, NULL FROM DTL_FBCUSTOMFIELD_PMTCT_Initial_Evaluation_Form a INNER JOIN Mst_ModDecode b ON a.Elisa = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Determine HIV Test'', b.Name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Follow_up_Form a INNER JOIN Mst_ModDecode b ON a.Determine = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Determine HIV Test'', b.Name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Initial_Evaluation_Form a INNER JOIN Mst_ModDecode b ON a.Determine = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Determine HIV Test'', b.Name, NULL FROM [DTL_FBCUSTOMFIELD_Maternity_&_PNC_Wards_Initial_Evaluation_Form] a INNER JOIN Mst_ModDecode b ON a.Determine = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Unigold HIV Test'', b.Name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Follow_up_Form a INNER JOIN Mst_ModDecode b ON a.Unigold = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Unigold HIV Test'', b.Name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Initial_Evaluation_Form a INNER JOIN Mst_ModDecode b ON a.Unigold = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Unigold HIV Test'', b.Name, NULL FROM [DTL_FBCUSTOMFIELD_Maternity_&_PNC_Wards_Initial_Evaluation_Form] a INNER JOIN Mst_ModDecode b ON a.Unigold = b.ID
UNION
SELECT a.ptn_pk, a.visit_pk, ''Partner test HIV'', b.name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Follow_up_Form a INNER JOIN Mst_ModDecode b ON a.DeterminePartner=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''Partner test HIV'', b.name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Initial_Evaluation_Form a INNER JOIN Mst_ModDecode b ON a.DeterminePartner=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''Partner test HIV'', b.name, NULL FROM [DTL_FBCUSTOMFIELD_Maternity_&_PNC_Wards_Initial_Evaluation_Form] a INNER JOIN Mst_ModDecode b ON a.DeterminePartner=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''Partner test HIV'', b.name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Follow_up_Form a INNER JOIN Mst_ModDecode b ON a.UniGoldPartner=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''Partner test HIV'', b.name, NULL FROM DTL_FBCUSTOMFIELD_ANC_Initial_Evaluation_Form a INNER JOIN Mst_ModDecode b ON a.UniGoldPartner=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''PCR'', b.name, FirstPCRDate FROM DTL_FBCUSTOMFIELD_HEI_Follow_Up_Card a INNER JOIN Mst_ModDecode b ON a.FirstPCRResults=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''PCR'', b.name, RepeatPCRDate FROM DTL_FBCUSTOMFIELD_HEI_Follow_Up_Card a INNER JOIN Mst_ModDecode b ON a.RepeatPCRResults=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''Partner test HIV'', b.name, NULL FROM [DTL_FBCUSTOMFIELD_Maternity_&_PNC_Wards_Initial_Evaluation_Form] a INNER JOIN Mst_ModDecode b ON a.UniGoldPartner=b.id
UNION
SELECT a.ptn_pk, a.visit_pk, ''HIV Test'', b.NAME, MotherHIVTestDate FROM dtl_PatientCounseling a INNER JOIN Mst_PMTCTDeCode b ON a.MotherHIVTestResult=b.id
UNION	
SELECT a.Ptn_pk, a.Visit_pk, ''PCR'', b.NAME, NULL FROM dtl_patientCounseling a INNER JOIN Mst_ModDecode b ON a.MotherDNAPCR = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Antibody test'', b.name, a.FirstAntiBodyTestDate FROM DTL_FBCUSTOMFIELD_HEI_Follow_Up_Card a INNER JOIN Mst_ModDecode b ON a.FirstAntiBodyTestResult = b.ID
UNION
SELECT ptn_pk, visit_pk, ''Antibody test'', b.name, a.FinalAntiBodyTestDate FROM DTL_FBCUSTOMFIELD_HEI_Follow_Up_Card a INNER JOIN Mst_ModDecode b ON a.FinalAntiBodyTestResult = b.ID) b
ON a.visit_id = b.Visit_pk
) Labs 
	Inner Join tmp_PatientMaster m On labs.Ptn_pk = m.PatientPK
	Left Join 
	(Select a.PatientPK, Coalesce(a.PreviousARTStartDate, ART.FirstDispense) StartARTDate 
From tmp_PatientMaster a Inner Join 
(Select a.PatientPK
, Min(a.DispenseDate) FirstDispense 
From tmp_Pharmacy a Where a.TreatmentType = ''ART''
Group By a.PatientPK) ART on a.PatientPK = ART.PatientPK) c On m.PatientPK = c.PatientPK
')
End	

			
END
ELSE
	BEGIN
	EXEC('Delete FROM tmp_Labs WHERE PatientPK = '+@PatientPK)
	EXEC
('INSERT INTO tmp_Labs	
Select Distinct m.PatientPK, 
			labs.VisitID,
			m.FacilityID,
			labs.OrderedbyDate,
			labs.ReportedbyDate,
			labs.TestName,
			labs.TestResult,
			Case When DateDiff(dd, m.RegistrationDate, labs.ReportedbyDate) <= 60 Then 1 Else 0 End As EnrollmentTest
			, dbo.fn_GetTestCategory(c.startartdate, labs.reportedbydate) As BaselineTest
				  
			From 
			(
			Select distinct a.Ptn_pk, v.VisitId VisitID, a.TestName
			,  Coalesce(Cast(a.TestResults As varchar(100)), Cast(a.[Parameter Result] As
			varchar(100)), Cast(a.TestResults1 As varchar(100))) TestResult
			, a.OrderedbyDate
			, a.ReportedbyDate
			From VW_PatientLaboratory a 
			inner join ord_PatientLabOrder v on v.Ptn_Pk = a.ptn_pk  and a.LabID = v.LabID
			Where Coalesce(Cast(a.TestResults As varchar(100)), Cast(a.[Parameter Result] As
			varchar(100)), Cast(a.TestResults1 As varchar(100))) Is Not Null And
			Coalesce(Cast(a.TestResults As varchar(100)), Cast(a.[Parameter Result] As
			varchar(100)), Cast(a.TestResults1 As varchar(100))) != ''''
			AND a.Ptn_Pk = '+@PatientPK+'
			) labs  
			Inner Join tmp_PatientMaster m On labs.Ptn_pk = m.PatientPK
			Left Join 
			(Select a.PatientPK, Coalesce(a.PreviousARTStartDate, ART.FirstDispense) StartARTDate 
			From tmp_PatientMaster a Inner Join 
			(Select a.PatientPK
			, Min(a.DispenseDate) FirstDispense 
			From tmp_Pharmacy a Where a.TreatmentType = ''ART''
			Group By a.PatientPK) ART on a.PatientPK = ART.PatientPK) c On m.PatientPK = c.PatientPK
			WHERE labs.Ptn_Pk = '+@PatientPK)
	END
END

